{% extends 'base.html.twig' %}

{% block body %}
  <section class="page-forgot">
    <div class="forgot-container">

      <div class="forgot-header">
        <h1 class="h1-auth">Mot de passe oublié</h1>
      </div>

      <div class="forgot-card">
        {% for message in app.flashes('success') %}
          <div class="flash-success">{{ message }}</div>
        {% endfor %}

        {{ form_start(form) }}
          {{ form_row(form.email, { attr: { class: 'input-auth' } }) }}
          {{ form_row(form.submit, { attr: { class: 'btn-forgot' } }) }}
        {{ form_end(form) }}
      </div>

    </div>
  </section>
{% endblock %}